In [4]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import seaborn as sns
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import mlab
from matplotlib.ticker import FuncFormatter
matplotlib.style.use('ggplot')
import sqlite3 
import warnings
warnings.filterwarnings('ignore')
pd.options.mode.chained_assignment = None

In [5]:
mta_2022 = pd.read_csv('MTA_Subway_Turnstile_Usage_Data__2022.csv', sep = ',',header = 0)

In [25]:
mta_2022.columns =['c/a','unit','scp','line_name', 'division', 'date','time','desc','entries','exits']

In [26]:
mta_2022.head()

,c/a,unit,scp,line_name,division,date,time,desc,entries,exits
1,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,03:00:00,REGULAR,7675872,2649548
2,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,07:00:00,REGULAR,7675876,2649551
3,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,11:00:00,REGULAR,7675887,2649594
4,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,15:00:00,REGULAR,7675895,2649626
5,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,19:00:00,REGULAR,7675920,2649657

In [27]:
mta_2022.size

109632510

In [28]:
mta_2022.describe

<bound method NDFrame.describe of             c/a  unit       scp line_name division        date      time  \
1          A002  R051  02-00-00   NQR456W      BMT  01/01/2022  03:00:00
2          A002  R051  02-00-00   NQR456W      BMT  01/01/2022  07:00:00
3          A002  R051  02-00-00   NQR456W      BMT  01/01/2022  11:00:00
4          A002  R051  02-00-00   NQR456W      BMT  01/01/2022  15:00:00
5          A002  R051  02-00-00   NQR456W      BMT  01/01/2022  19:00:00
...         ...   ...       ...       ...      ...         ...       ...
10963247  TRAM2  R469  00-05-01         R      RIT  03/11/2022  04:00:00
10963248  TRAM2  R469  00-05-01         R      RIT  03/11/2022  08:00:00
10963249  TRAM2  R469  00-05-01         R      RIT  03/11/2022  12:00:00
10963250  TRAM2  R469  00-05-01         R      RIT  03/11/2022  16:00:00
10963251  TRAM2  R469  00-05-01         R      RIT  03/11/2022  20:00:00

             desc  entries    exits
1         REGULAR  7675872  2649548
2         REGULAR  7675876  2649551
3         REGULAR  7675887  2649594
4         REGULAR  7675895  2649626
5         REGULAR  7675920  2649657
...           ...      ...      ...
10963247  REGULAR        0       23
10963248  REGULAR        0       23
10963249  REGULAR        0       23
10963250  REGULAR        0       23
10963251  REGULAR        0       23

[10963251 rows x 10 columns]>

In [29]:
mta_2022.isnull().sum()

c/a          0
unit         0
scp          0
line_name    0
division     0
date         0
time         0
desc         0
entries      0
exits        0
dtype: int64

In [31]:
mta_2022['datetime'] = pd.to_datetime(mta_2022.date + ' ' + mta_2022.time, format='%m/%d/%Y  %H:%M:%S')

In [32]:
mta_2022['turnstile'] = mta_2022['c/a'] + '-' + mta_2022['unit'] + '-' + mta_2022['scp']

In [33]:
mta_2022.head()

,c/a,unit,scp,line_name,division,date,time,desc,entries,exits,datetime,turnstile
1,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,03:00:00,REGULAR,7675872,2649548,2022-01-01 03:00:00,A002-R051-02-00-00
2,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,07:00:00,REGULAR,7675876,2649551,2022-01-01 07:00:00,A002-R051-02-00-00
3,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,11:00:00,REGULAR,7675887,2649594,2022-01-01 11:00:00,A002-R051-02-00-00
4,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,15:00:00,REGULAR,7675895,2649626,2022-01-01 15:00:00,A002-R051-02-00-00
5,A002,R051,02-00-00,NQR456W,BMT,01/01/2022,19:00:00,REGULAR,7675920,2649657,2022-01-01 19:00:00,A002-R051-02-00-00

In [34]:
mta_2022.line_name.value_counts()

line_name
1        1330546
6         619236
7         486191
F         401963
25        341569
          ...
R2345      10925
7EFMR      10923
2          10883
23ACE       8940
S2345       8737
Name: count, Length: 114, dtype: int64

In [35]:
mta_2022.division.value_counts()

division
IRT    3987907
IND    3787526
BMT    2421917
PTH     674050
SRT      69614
RIT      22237
Name: count, dtype: int64

In [39]:
mta_2018 = pd.read_csv('MTA_Subway_Turnstile_Usage_Data__2018.csv', sep = ',',header = 0)

In [40]:
mta_2018.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,N339A,R114,00-03-00,PARSONS BLVD,F,IND,12/29/2017,07:00:00,REGULAR,880265,885883
1,R601A,R108,02-00-04,BOROUGH HALL,2345R,IRT,12/23/2017,03:00:00,REGULAR,7806453,7862828
2,N405,R239,00-03-00,GREENPOINT AV,G,IND,12/28/2017,07:00:00,REGULAR,973,0
3,N700,R570,00-03-03,72 ST-2 AVE,Q,IND,12/28/2017,00:00:00,REGULAR,1397123,246622
4,J037,R009,00-00-02,121 ST,JZ,BMT,12/25/2017,15:00:00,REGULAR,754018,265570

In [41]:
mta_2019 = pd.read_csv('MTA_Subway_Turnstile_Usage_Data__2019.csv', sep = ',',header = 0)

In [42]:
mta_2019.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A013,R081,01-05-01,49 ST,NQRW,BMT,01/04/2019,11:00:00,REGULAR,0,633
1,J022,R435,00-00-01,CLEVELAND ST,J,BMT,01/01/2019,16:00:00,REGULAR,5028939,4552767
2,N186,R418,00-00-02,BEACH 105 ST,AS,IND,01/02/2019,20:00:00,REGULAR,482343,1029219
3,N024,R332,00-00-01,135 ST,BC,IND,12/30/2018,04:00:00,REGULAR,4193318,1714040
4,N213,R154,00-06-01,TREMONT AV,BD,IND,01/04/2019,12:00:00,REGULAR,218722978,167894667

In [43]:
mta_2020 = pd.read_csv('MTA_Subway_Turnstile_Usage_Data__2020.csv', sep = ',',header = 0)

In [47]:
mta_2020.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,03:00:00,REGULAR,7324295,2482512
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,07:00:00,REGULAR,7324305,2482523
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,11:00:00,REGULAR,7324371,2482594
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,15:00:00,REGULAR,7324587,2482647
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,19:00:00,REGULAR,7324963,2482713

In [45]:
mta_2021 = pd.read_csv('MTA_Subway_Turnstile_Usage_Data__2021.csv', sep = ',',header = 0)

In [46]:
mta_2021.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/20/2021,00:00:00,REGULAR,7621953,2607461
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/20/2021,04:00:00,REGULAR,7621962,2607463
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/20/2021,08:00:00,REGULAR,7621971,2607505
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/20/2021,12:00:00,REGULAR,7622037,2607607
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/20/2021,16:00:00,REGULAR,7622194,2607644

In [ ]:
mta_2022_segment = mta_2022['c/a']