In [10]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

import sqlite3

In [11]:
df_arrests = pd.read_csv('Subway_Fare_Evasion_Arrests.csv', index_col = 0)
df_summonses = pd.read_csv('Subway_Fare_Evasion_Summonses.csv')

In [12]:
df_arrests.head

<bound method NDFrame.head of                 1    2    3    4   11   12   20  23   30   32   33   34    0
Quarter_Year
4_2024        231  196  188  252  379  652  191  20  193  210  506  133  132
3_2024        257  120  184  172  294  512  257   9  100  292  382  119   94
2_2024        189  174  118  111  246  379  156  11  176  184  378   93   62
1_2024        152   55   59  134  212  288  136  16  130  100  229  104   79
4_2023        120   32   58   34  144  259   80  10   91   91  196   91   46
3_2023        162   22   57   50  108  203   50  14   60   88  213  103   12
2_2023         63   21   60   53  135  266   31  39   89   95  158  111   15
1_2023         41   17   27   28  144  200   24  27   50   72  200   83   10
4_2022         18   11   14   15   55  131   18  10   41   49  202   30    7
3_2022         12    6    3   13   56  137    4   1   53   44  127   16    5
2_2022         14    6    1    1   37   71   11   1   41   78  105   28  124
1_2022         19    2    4    2   43   53    5   0   34   60   35   38    6
4_2021         16    8    3   10   45   39    5   0   19   42   29   39    2
3_2021         18    7    3    6   46   19   10   1   39   42    8   29    3
2_2021         20    4    9   12   36   20   17   0   17   28    1   22    4
1_2021         23    4    2    7   35   35   28   0   28   24    5   14    4
4_2020         18    0    0    2    8   11    5   0   19   16    2    1    0
3_2020          4    1    0    0    0    0    0   0    1    0    0    0    0
2_2020          4    1    1    0    1    1    1   0    5    7    5    0    1
1_2020         29   17    3   13   45   20   10   8   30   40   90   27    0
4_2019         16    2    7   28   51   26   25   7   47   56  114   25   77
3_2019         44   19   28   48   78   66   37   7   67   38   66   36    6
2_2019         53   10   33   67   61  117   46  25  111   34   81   41    3
1_2019         61   36   43  101  115  239   68  29  120   69   60   45    6
4_2018         86   41   39   67  113  244   44  13   69   51   50   32    9
3_2018         80   20   25   68  110  183   57  27  105   50   87   61   10
2_2018         72   36   25   86   88  125   70  40  129   42  133  158    8
1_2018        313  124  120  377  154  212  124  61  178  156  252  164   19
4_2017        551  259  186  597  288  306  167  88  252  179  268  139   16>

In [15]:
df_arrests.columns

Index(['1', '2', '3', '4', '11', '12', '20', '23', '30', '32', '33', '34',
       '0'],
      dtype='object')

NameError: name 'df_arrests' is not defined